/*
 *= require font-awesome
 */

ul {
  list-style: none;
  color: black;
}

a:link {
  text-decoration: none;
}


h1 {
  font-family: sans-serif;
  padding-left: 15px;
}

p {

  font-family: sans-serif;
  color: black;
}
